html, body {
	font-size: 10px;
}
body {
	background: #dddddd;
}
.main-container {
	background: #444444;
}
.site-header {
	text-align: center;
}

.member-list-container {
	margin: 28px;
}
.member-list-item {
	margin-bottom: 8px;
}
